<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Vegetarian Food Menu</title>
</head>
<body>
<!--header-->
    <div class="header-container">
    <h1>Zemba</h1>
    <div class="billing-tab">
      <a href="billing" style="margin-right: 1010px;">Billing</a>
  </div>
    </div>

  <div style="background-color: rgb(102, 103, 105);">
    <p class="menu">Explore our Italian Menu</p>

    <div class="food-types-container">
      <div class="food-type">
        <img src="/images/sea1.jpg" alt="Veg-thali-half" width="250" height="250">
        <h3>Spaghetti and Meatballs</h3>
        <p class="price">Price: 260/-</p>
        <button onclick="orderDish('Spaghetti and Meatballs')">Order Now</button>
      </div>

      <div class="food-type">
        <img src="/images/sea2.jpg" alt="Veg-thali-fulls" width="250" height="250">
        <h3>Grilled Mozzarella Sandwich</h3>
        <p class="price">Price: 220/-</p>
        <button onclick="orderDish('Grilled Mozzarella Sandwich')">Order Now</button>
      </div>
     
      <div class="food-type">
        <img src="/images/sea3.jpg" alt="Veg-thali-fulls" width="250" height="250">
        <h3>Corn Tomato Avocado Salad</h3>
        <p class="price">Price: 240/-</p>
        <button onclick="orderDish('Corn Tomato Avocado Salad')">Order Now</button>
      </div>
    </div>
  </div>

  <!--footer-->
<footer>
    <div class="footer-content">
        <div class="footer-section contact">
            <h3>Contact Us</h3>
            <p>Email: info@example.com</p>
            <p>Phone: (123) 456-7890</p>
        </div>
        <div class="footer-section links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Specials</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
       <div class="footer-section social">
            <h3>Follow Us</h3>
            <a href="#" target="_blank"><img src="../../public/images/facebook.png" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="../../public/images/twitter.png" alt="Twitter"></a>
            <a href="#" target="_blank"><img src="../../public/images/insta.jfif" alt="Instagram"></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Your Website. All rights reserved.</p>
    </div>
</footer>
</body>
</html>

 

</body>
</html>
